{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="header" style="margin: 0 auto">
  <h1>Total Confirmed: {{ global.confirmed|intcomma }}</h1>
  <h1>Total Recovered: {{ global.recovered|intcomma }}</h1>
  <h1>Total Deaths: {{ global.deaths|intcomma }}</h1>
</div>


<!-- jvectormap -->
<link rel="stylesheet" href="{% static '/css/jquery-jvectormap-2.0.5.css' %}" type="text/css" media="screen"/>
<script src="{% static '/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static '/js/jquery-jvectormap-world-mill.js' %}"></script>
<div id="world-map" style="margin: 0 auto; width: 600px; height: 400px"></div>
<script>
  $(function(){
    $('#world-map').vectorMap({map: 'world_mill', 
                              backgroundColor: '#17202A',
                              zoomOnScrollSpeed: 2});
  });
</script>

<!-- datatables -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.bootstrap4.css' %}" crossorigin="anonymous">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<p>Last Updated: </p>
<table id="table_id" class="table table-dark table-striped table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deaths</th>
      <th scope="col">Mortality (%)</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    {% for c in countries %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.code }}</td>
      <td>{{ c.confirmed|intcomma }}</td>
      <td>{{ c.recovered|intcomma }}</td>
      <td>{{ c.deaths|intcomma }}</td>
      <td>{{ c.mortality }}</td>
      <td><button class="editbtn">Data</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready( function () {
    $('#table_id').DataTable( {
      paging: false,
      scrollY: "50vh",
      stateSave: true,
      order: [[2, "desc"]],
      columnDefs: [ {
        "targets": 6,
        "orderable": false
      } ]
    });
  } );
</script>
{% endblock content %}
