{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<!-- pace -->
<link rel="stylesheet" href="{% static '/css/pace.css' %}">
<script src="{% static '/js/pace.js' %}"></script>

<!-- jvectormap imports -->
<link rel="stylesheet" href="{% static '/css/jquery-jvectormap-2.0.5.css' %}" type="text/css" media="screen"/>
<script src="{% static '/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static '/js/jquery-jvectormap-world-mill.js' %}"></script>

<!-- datatables imports -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.bootstrap4.css' %}" crossorigin="anonymous">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>



<div class="header" style="margin: 0 auto">
  <h1>Total Confirmed: {{ global.confirmed|intcomma }}</h1>
  <h1>Total Recovered: {{ global.recovered|intcomma }}</h1>
  <h1>Total Deaths: {{ global.deaths|intcomma }}</h1>
</div>

<div id="jvectormap" style="margin: 0 auto; width: 900px; height: 500px"></div>

<!-- time slider to change map based on time -->
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>


<!-- puts all data by country in a datatable -->
<table id="table_id" class="table table-dark table-striped table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deaths</th>
      <th scope="col">Mortality (%)</th>
      <th scope="col">Data</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for c in countries %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.code }}</td>
      <td>{{ c.confirmed|intcomma }}</td>
      <td>{{ c.recovered|intcomma }}</td>
      <td>{{ c.deaths|intcomma }}</td>
      <td>{{ c.mortality }}</td>
      <td><button id="view_btn" type="button" class="btn btn-info" onclick="view_country('{{ c.alpha2_code }}')">View</button></td>
      <td>{{ c.last_updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<script>
  function view_country(code) {
    if (code == "..") {
      $('#jvectormap').vectorMap('get','mapObject').reset();
    }
    else {
      $('#jvectormap').vectorMap('get','mapObject').setFocus({region: code, animate: true});
    }
  }

  // jvectormap initialization
  $(function(){
    $('#jvectormap').vectorMap({map: 'world_mill', 
                              backgroundColor: '#17202A',
                              zoomOnScrollSpeed: 2,
                              onRegionClick: function(e,  code,  isSelected,  selectedRegions){$('#jvectormap').vectorMap('get','mapObject').setFocus({region: code, animate: true});
    }});
  });

  // datatables initialization
  $(document).ready( function () {
    $('#table_id').DataTable( {
      paging: false,
      scrollY: "50vh",
      stateSave: true,
      order: [[2, "desc"]],
      columnDefs: [ {
        "targets": 6,
        "orderable": false
      } ]
    });
  } );

</script>
{% endblock content %}
