{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load custom_tags %}

{% block content %}
<!-- pace -->
<link rel="stylesheet" href="{% static '/css/pace.css' %}">
<script src="{% static '/js/pace.js' %}"></script>

<!-- jvectormap imports -->
<link rel="stylesheet" href="{% static '/css/jquery-jvectormap-2.0.5.css' %}" type="text/css" media="screen"/>
<script src="{% static '/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static '/js/jquery-jvectormap-world-mill.js' %}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<!-- datatables imports -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.bootstrap4.css' %}" crossorigin="anonymous">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>



<div class="header" style="margin: 0 auto">
  <h1>Total Confirmed: {{ global.confirmed|intcomma }}</h1>
  <h1>Total Recovered: {{ global.recovered|intcomma }}</h1>
  <h1>Total Deaths: {{ global.deaths|intcomma }}</h1>
</div>

<div id="jvectormap" style="margin: 0 auto; width: 900px; height: 500px"></div>

<div id="graphs" style="margin: 0 auto; width: 900px; height: 500px">
  <canvas id="examChart"></canvas>
</div>

<!-- puts all data by country in a datatable -->
<table id="table_id" class="table table-dark table-striped table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deaths</th>
      <th scope="col">Mortality (%)</th>
      <th scope="col">Data</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for c in countries %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.alpha2_code }}</td>
      <td>{{ c.confirmed|intcomma }}</td>
      <td>{{ c.recovered|intcomma }}</td>
      <td>{{ c.deaths|intcomma }}</td>
      <td>{{ c.mortality }}</td>
      <td><button id="view_btn" type="button" class="btn btn-info" onclick="view_country('{{ c.name }}', '{{ c.alpha2_code }}')">View</button></td>
      <td>{{ c.last_updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function view_country(country, code) {
    if (code == "..") {
      $('#jvectormap').vectorMap('get','mapObject').reset();
    }
    else {
      $('#jvectormap').vectorMap('get','mapObject').setFocus({region: code, animate: true});
      create_graph(country, code);
    }
  }

  // jvectormap initialization
  $(function(){
    $('#jvectormap').vectorMap({map: 'world_mill', 
                              backgroundColor: '#17202A',
                              zoomOnScrollSpeed: 2,
                              onRegionClick: function(e,  code,  isSelected,  selectedRegions){$('#jvectormap').vectorMap('get','mapObject').setFocus({region: code, animate: true});
    }});
  });

  function create_graph(country, code, dates) {
    // data should be in this format: 
    // [{
    //    t: new Date("2015-3-15 13:3"),
    //    y: 12
    //  },
    //  {
    //    t: new Date("2015-3-25 13:2"),
    //    y: 21
    //  },
    //  {
    //    t: new Date("2015-4-25 14:12"),
    //    y: 32
    //  }]

    $("#graphs").empty();

    var date = "{{ all_dates|get_item:code|get_item:'05/05/2020'|get_item:'confirmed'}}";
    window.alert(date);

    var ctx = document.getElementById("examChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [new Date("2015-3-15 13:3").toLocaleString(), new Date("2015-3-25 13:2").toLocaleString(), new Date("2015-4-25 14:12").toLocaleString()],
        datasets: [{
          label: 'Demo',
          data: data,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          xAxes: [{
            type: 'time'
          }]
        }
      }
    });
  }

  // datatables initialization
  $(document).ready( function () {
    $('#table_id').DataTable( {
      paging: false,
      scrollY: "50vh",
      stateSave: true,
      order: [[2, "desc"]],
      columnDefs: [ {
        "targets": 6,
        "orderable": false
      } ]
    });
  } );

</script>
{% endblock content %}
