{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<!-- pace -->
<link rel="stylesheet" href="{% static '/css/pace.css' %}">
<script src="{% static '/js/pace.js' %}"></script>

<!-- jvectormap imports -->
<link rel="stylesheet" href="{% static '/css/jquery-jvectormap-2.0.5.css' %}" type="text/css" media="screen"/>
<script src="{% static '/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static '/js/jquery-jvectormap-world-mill.js' %}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<!-- datatables imports -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.bootstrap4.css' %}" crossorigin="anonymous">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>



<div class="header" style="margin: 0 auto">
  <h1>Total Confirmed: {{ global.confirmed|intcomma }}</h1>
  <h1>Total Recovered: {{ global.recovered|intcomma }}</h1>
  <h1>Total Deaths: {{ global.deaths|intcomma }}</h1>
  <h1>Mortality: {{ global.mortality|intcomma }}%</h1>
</div>

<div id="jvectormap" style="margin: 0 auto; width: 900px; height: 500px"></div>

<div class="collapse" id="graph" style="margin: 0 auto; width: 900px; height: 500px">
  <canvas id="examChart"></canvas>
</div>

<!-- <div class="collapse" id="graphs" style="margin: 0 auto; width: 900px; height: 500px">
  <canvas id="examChart"></canvas>
</div> -->

<!-- puts all data by country in a datatable -->
<table id="table_id" class="table table-dark table-striped table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deaths</th>
      <th scope="col">Mortality (%)</th>
      <th scope="col">Data</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for c in countries %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.alpha2_code }}</td>
      <td>{{ c.confirmed|intcomma }}</td>
      <td>{{ c.recovered|intcomma }}</td>
      <td>{{ c.deaths|intcomma }}</td>
      <td>{{ c.mortality }}</td>
      <td><button class="btn btn-info" type="button" onclick="view_country('{{ c.name }}', '{{ c.alpha2_code }}')">View</button></td>
      <td>{{ c.last_updated|date:'m/d/y H:i' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready( function () {
    // datatables initialization  
    $('#table_id').DataTable( {
      paging: false,
      scrollY: "50vh",
      stateSave: true,
      order: [[2, "desc"]],
      columnDefs: [ {
        "targets": 6,
        "orderable": false
      } ]
    });
  } );

  function clear_graph() {
    $('#examChart').remove();
    var canvas = document.createElement('canvas');
    canvas.id = 'examChart';
    document.getElementById('graph').appendChild(canvas);
  }

  function create_graph(country, code, chart_labels, chart_data) {
    clear_graph();

    var ctx = document.getElementById("examChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: 'scatter',
      data: {
        labels: chart_labels,
        datasets: [
          {
            label: 'Confirmed',
            data: chart_data['confirmed'],
            fill: false,
            borderColor: 'rgba(245, 84, 66, 1)',
            pointRadius: 2,
          },
          {
            label: 'Recovered',
            data: chart_data['recovered'],
            fill: false,
            borderColor: 'rgba(66, 245, 11, 1)',
            pointRadius: 2,
          },
          {
            label: 'Deaths',
            data: chart_data['deaths'],
            fill: false,
            borderColor: 'rgba(255, 255, 255, 1)',
            pointRadius: 2,
          },
        ]
      },
      options: {
        title: {
          display: true,
          text: country + " (" + code + ")",
          fontSize: 30,
          fontColor: 'rgba(255, 255, 255, 1)'
        },
        scales: {
          xAxes: [{
            type: 'time'
          }],
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        },
      }
    });
  }

  function view_country(country, code) {
    if (code == "..") {
      $('.collapse').collapse('hide');
      $('#jvectormap').vectorMap('get','mapObject').reset();
    }
    else {
      $('.collapse').collapse('show');
      $('#jvectormap').vectorMap('get','mapObject').setFocus({region: code, animate: true});

      $.ajax({
        type: "GET",
        url: "fetch_dates/",
        dataType: "json",
        data: {"code": code},
        success: function(data) {
          var chart_labels = [];
          var chart_data = {'confirmed': [], 'recovered': [], 'deaths': []};
          $.each(data, function( k, v ) {
            chart_labels.push(new Date(k).toISOString());

            $.each(v, function( category, category_v ) {
              chart_data[category].push({x: new Date(k), y: category_v});
            });
          });
          
          create_graph(country, code, chart_labels, chart_data);
        }
      });

    }
  }

  // jvectormap initialization
  $(function(){
    $('#jvectormap').vectorMap({map: 'world_mill', 
                              backgroundColor: '#17202A',
                              zoomOnScrollSpeed: 2,
                              initial: {
                                fill: '#e4e4e4',
                                "fill-opacity": 1,
                                stroke: 'none',
                                "stroke-width": 0,
                                "stroke-opacity": 1
                            },
                              regionStyle: {
                                selected: {
                                  fill: '#3D74B2'
                                }
                              },
                              onRegionClick: function(e,  code,  isSelected,  selectedRegions) {
                                $.ajax({
                                  type: "GET",
                                  url: "get_country_stats/",
                                  data: {"code": code},
                                  success: function(data) {
                                    data = JSON.parse(data);
                                    if (Object.keys(data).length === 0) {
                                      view_country('', code);
                                    }
                                    else {
                                      view_country(data['name'], code);
                                    }
                                  },
                                });
                              }

    });
  });
</script>
{% endblock content %}
